body {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #138fdd;
}

h1 {
  color: #8b0311;
}

h2 {
  text-align: center;
  color:#c41c0a;
}

ul {
  color: #170394;
  font-weight: bold;
  padding: 0;
  display: none;
}

img {
  border-radius: 5%;
}

.container {
  width:100%;
}

.descriptions, .moviePoster {
  width:50%;
}

.descriptions {
  float:left;
}

.moviePoster {
  float: right;
}